<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Synergy-Bio | Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <style>
        .custom-card-header {
            background-color: white;
            border-bottom: 0px;
            font-family: sans-serif;
            font-size: 3em;
            font-weight: 100;
        }

        .custom-logo-size {
            width: 100%;
            height: 70%;
        }
    </style>
</head>
<body>
<div class="container pt-5">
    <div class="card">

        <h5 class="card-header info-color white-text has-text-left py-4 custom-card-header">
            <strong>Login</strong>
        </h5>

        <div class="card-body px-lg-5 pt-5">

            <div class="row">
                <div class="col-md-7">
                    <form class="md-form" style="color: #192c34;" th:action="@{/login}" method="post">
                        <div th:if="${param.error}" class="alert alert-error has-text-danger">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>
                        <label for="username">User Name</label>
                        <input type="text" id="username" name="username" class="form-control">

                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control">

                        <div class="d-flex align-items-center justify-content-between">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                                <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                            </div>
                            <div>
                                <a th:href="@{/forgot-password}">Forgot password?</a>
                            </div>
                        </div>

                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                type="submit">
                            Log In
                        </button>
                    </form>
                </div>
                <div class="col-5">
                    <img class="custom-logo-size" src="http://www.synergybio.lk/templates/sj_joomla3/images/logo.png">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
