<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GNSS Portal | BhoomiTech</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="form-design">
    <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${param.sucess}" class="alert alert-success alert-dismissible fade show" role="alert">
        Your account has been created.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h2 class="font-black">Create Your Account</h2>
    <form class="md-form" style="color: #192c34;" th:action="@{/register}" method="post" id="registrationForm"
          name="registrationForm">
        <div class="text-center">
            <img th:src="@{/img/logo.png}" class="logo" alt="Avatar">
        </div>
        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="User Name" th:value="${userDetailDocument.username}" required>
        </div>
        <div class="form-group">
            <input type="text" id="name" name="name" class="form-control" placeholder="Your Name"  th:value="${userDetailDocument.name}" required>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" th:value="${userDetailDocument.email}"  required>
        </div>
        <div class="form-group">
            <input type="text" id="address" name="address" class="form-control" placeholder="Address" th:value="${userDetailDocument.address}"  required>
        </div>
        <div class="form-group">
            <input type="tel" id="telephone" name="telephone" class="form-control" placeholder="Telephone" th:value="${userDetailDocument.telephone}"  required>
        </div>
        <div class="form-group">
            <input type="text" id="organization" name="organization" class="form-control" placeholder="Organization"
                   th:value="${userDetailDocument.organization}" required>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password"
                   data-rule-minlength=8
                   title="required minimum 8 characters"
                   class="form-control" placeholder="New Password" required>
        </div>
        <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                   data-rule-equalTo="#password"
                   title="password doesn't match"
                   placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
    </form>
    <p class="text-center font-black">Already have an account? <a th:href="@{/login}">Sign In </a></p>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $('#registrationForm').validate();
</script>
</body>
</html>
